@use '@angular/material' as mat;
.main {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: var(--mat-sys-background);
}

.content {
  padding: 16px;
  width: 100%;
  max-width: 1200px;
}

mat-form-field {
  margin-bottom: 8px;
}

.rounded-card {
  border-radius: 16px;
  padding: 25px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.full-width {
  width: 100%;
}
