<app-top-bar></app-top-bar>
<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>
<main class="main">
  <mat-card class="content rounded-card" [class.loading]="loading$ | async">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Search films</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchControl"
        data-testid="search-box"
        [matAutocomplete]="auto"
        placeholder="Examples: The Bachelor, Godzilla"
      />
      <mat-error *ngIf="searchControl.hasError('maxlength')">
        Search query cannot be longer than 45 characters.
      </mat-error>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <ng-container *ngIf="options$ | async as options">
        <ng-container *ngIf="options.length; else noResults">
          <mat-option *ngFor="let film of options$ | async" [value]="film.title">
            {{ film.title }}
          </mat-option>
        </ng-container>
      </ng-container>

      <ng-template #noResults>
        <mat-option disabled *ngIf="searchControl.value?.trim() && !(loading$ | async)">
          Oops. There aren't any films matching your search.
        </mat-option>
      </ng-template>
    </mat-autocomplete>
    <app-map [filmLocations$]="filteredFilmLocations$"></app-map>
  </mat-card>
</main>
