<app-top-bar></app-top-bar>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<main class="main">
  <mat-card class="content rounded-card" [class.loading]="loading">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Search films</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchControl"
        data-testid="search-box"
        [matAutocomplete]="auto"
      />
      <mat-error *ngIf="searchControl.hasError('maxlength')">
        Search query cannot be longer than 25 characters.
      </mat-error>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <ng-container *ngIf="options.length; else noResults">
        <mat-option *ngFor="let film of options" [value]="film.title">
          {{ film.title }}
        </mat-option>
      </ng-container>
      <ng-template #noResults>
        <mat-option disabled> Oops. There aren't any films matching your search. </mat-option>
      </ng-template>
    </mat-autocomplete>
    <app-map [filmLocations]="filteredFilmLocations"></app-map>
  </mat-card>
</main>
